.wrapper{
    height: 25px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(180, 201, 214);
    border-radius: 2px;
    border-color: brown ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper span{
    width: 100%;
    font-size: 15px;
    font-weight: 20px;
}
.wrapper span.num1{
    font-size: 15px;
    text-align: center;
}
.wrapper span.plus1{
    font-size: 15px;
    text-align: center;
  
}
.wrapper span.minus1{
    font-size: 15px;
    text-align: center;
}

.wrapper span.num2{
    font-size: 15px;
    text-align: center;
}
.wrapper span.plus2{
    font-size: 15px;
    text-align: center;
  
}
.wrapper span.minus2{
    font-size: 15px;
    text-align: center;
}

.wrapper span.num3{
    font-size: 15px;
    text-align: center;
}
.wrapper span.plus3{
    font-size: 15px;
    text-align: center;
  
}
.wrapper span.minus3{
    font-size: 15px;
    text-align: center;
}


#map { height: 180px; }



html, body {
    height: 100%;
    margin: 0;
  }
  
  .full-height {
    height: 100%;
    width: 100%;
    background: rgb(212, 212, 210);
  }